link(rel="shortcut icon", type="image/ico", href="#{resource}/img/favicon.ico")
link(rel="bookmark", type="image/ico", href="#{resource}/img/favicon.ico")
link(type="text/css",rel="stylesheet",href="#{resource}/css/bootstrap.min.css")
link(type="text/css",rel="stylesheet",href="#{resource}/css/mobiscroll.custom-2.6.2.min.css")
link(type="text/css",rel="stylesheet",href="#{resource}/css/common.css")
script(data-main="#{resource}/config.js" src="#{resource}/lib/require.min.js")


