mixin collapse(logo,title,price)
   .mycollapse
      .mycollapse-top
         img.mycollapse-brand(src="#{resource}/img/#{logo}")
         span.mycollapse-title #{title}
         span.mycollapse-price #{price}
         img.mycollapse-arrow(src="#{resource}/img/arrow-right.png")
      .mycollapse-bottom
         div.singleinsur
            span.basic 基本
            span.txt 车辆损失险
            span.franchise 35345
         div.singleinsur
            span.basic 基本
            span.txt 车辆损失险
            span.franchise 35345
         div.singleinsur
            span.basic 基本
            span.txt 车辆损失险
            span.franchise 35345
         div.singleinsur
            span.attach 附加
            span.txt 车辆损失险
            span.franchise 35345
         div.singleinsur
            span.attach 附加
            span.txt 车辆损失险
            span.franchise 35345
         div.singleinsur
            span.compensate 不计免赔
            span.txt 车辆损失险
            span.franchise 35345
         div.singleinsur
            span.compensate 不计免赔
            span.txt 车辆损失险
            span.franchise 35345
         .mycollapse-operation
            button(type="button" class="btn btn-primary btn-lg btn-block" style="font-size:16px;margin-top:15px;background-color:transparent;color:#419cf9;") 直接投保